<nav class="d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <h1 style="margin: auto">Free Coupons</h1>
      <br>
      <div class="card" style="width: 13rem; margin: auto;">
        <div class="card-body">
          <img class="card-img" src="https://im.haberturk.com/2020/01/22/ver1579758033/2561095_810x458.jpg" alt="Card image cap">
          <h5 class="card-title">COVID19 Coupon</h5>
          <p class="card-text">Use and get 10% discount! For more information click!</p>
          <button type="button" class="btn btn-info" (click)="moreInfo()">See All</button>

        </div>
      </div>
      <br>
      <div class="card" style="width: 13rem; margin: auto;">
        <div class="card-body">
          <img class="card-img" src="https://media.istockphoto.com/vectors/vector-sketch-question-mark-vector-id593320552" alt="Card image cap">
          <h5 class="card-title">Solve and Get Discount</h5>
          <p class="card-text">Do you think you are good at Math? Prove us!</p>
            <button type="button" class="btn btn-info" (click)="moreInfo3()">See All</button>
        </div>
      </div>
      <br>

    </ul>
  </div>
</nav>